<div class="paginate">
    <ul>
        {% if page_obj.number > 3 %}
        <li>
            <a href="?page={{ page_obj.number|add:-3 }}">...&lang;&lang;&nbsp;</a>
        </li>
        {% endif %}
        {% if page_obj.has_previous %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}">&lang;</a>
        </li>
        {% endif %}
        {% for p in page_obj.paginator.page_range %}
        <li>
            {% if p == page_obj.number %}
            <a href="?page={{ p }}" class="active">{{ p }}</a>
            {% elif p >= page_obj.number|add:-3 and p <= page_obj.number|add:3 %}
            <a href="?page={{ p }}">{{ p }}</a>
            {% endif %}
        </li>
        {% endfor %}
        {% if page_obj.has_next %}
        <li>
            <a href="?page={{ page_obj.next_page_number }}">&rang;</a>
        </li>
        {% endif %}
        {% if page_obj.number <= page_obj.paginator.num_pages|add:'-3' %}
        <li>
            <a href="?page={{ page_obj.number|add:3 }}">&nbsp;&rang;&rang;...</a>
        </li>
        {% endif %}
    </ul>
</div>
