<!-- D:\Python\myProject\bookshelves\app\audiobooks\templates\audiobooks\index.html -->

{% extends 'base.html' %}
{% load static %}
{% load audiobooks_tags %}

{% block head %}
<link type="text/css" href="{% static 'audiobooks/css/audiobooks.css' %}" rel="stylesheet"/>{% endblock head %}

{% block content %}
<section class="context_books">
    <div class="substrate"></div>
    <div class="slider_container">{% book_slider %}</div>
    <aside class="left_aside">
        <div class="search_container">
            <form name="search" action="/base.html" method="post" onsubmit="submitForm(event)">
                <ul>
                    <li><span>Поиск <sub><i>(и - или)</i></sub></span></li>
                    <li><input type="text" name="book" placeholder="Введите название книги" id="firstname"
                               oninput="updateSearchButton()"/>
                    </li>
                    <li><input type="text" name="cycle" placeholder="Введите название цикла" id="surname"
                               oninput="updateSearchButton()"/>
                    </li>
                    <li><input type="text" name="author" placeholder="Введите имя автора" id="lastname"
                               oninput="updateSearchButton()"/></li>
                    <li><input type="text" name="reader" placeholder="Введите имя чтеца" id="lastname2"
                               oninput="updateSearchButton()"/></li>
                </ul>
                <div class="block_actions">
                    <button type="reset" name="reset" onclick="updateSearchButton(true)" disabled>Сброс</button>
                    <button type="submit" name="submit" onclick="updateSearchButton()" disabled>Искать</button>
                </div>
            </form>
        </div>
        <nav class="left_sidebar">
            {% my_menu_catsubcat cat_selected=cat_selected subcat_selected=subcat_selected %}
        </nav>
        <div class="advertising_container">
            <p>Рекламный блок</p>
            <p>Рекламный блок</p>
            <p>Рекламный блок</p>
            <p>Рекламный блок</p>
            <p>Рекламный блок</p>
        </div>
    </aside>
    <div class="sort_container">Контейнер для блока сортировки</div>
    <div class="sort_reset">
        <button class="button_sort_reset"><span>Сброс</span></button>
    </div>
    <main class="main_container">
        {% for book in page_obj %}
        <article class="preview_book">
            <div class="header_preview">
                <h2>{{ book.title }}</h2>
                <span><h2 class="tooltip">{{ book.authors.all|join:", " }}<span
                        class="tooltiptext tooltip-bottom">автор</span></h2> //
                <h2 class="tooltip">{{ book.readers.all|join:", " }}<span
                        class="tooltiptext tooltip-bottom">читает</span></h2></span>
            </div>
            <img class="picture_preview" src="{{ book.picture.url }}" alt="{{ book.title }}">
            <div class="description_preview">
                <p>{{ book.book_subcategories.all|join:", " }}</p>
                <p>{{book.description|linebreaks|truncatewords:50}}</p>
            </div>
            <div class="information_preview">
                <p>год: {{ book.year }}</p>
                <p>длительность: {{ book.duration }}</p>
                <p>качество: {{ book.quality }}</p>
                <p>размер: {{ book.size }}</p>
            </div>
            <div class="ratings_preview">
                <div class="rating"><span>Писательский талант:</span>
                    <span>{{ book.average_rating.talent }}</span>
                    <div class="scale">
                        <div class="result"
                             style="width:{{ book.average_rating.talent_ind|floatformat:0 }}%; background-color: #84DE02;"></div>
                    </div>
                </div>
                <div class="rating"><span>Сюжет:</span>
                    <span>{{ book.average_rating.plot }}</span>
                    <div class="scale">
                        <div class="result"
                             style="width:{{ book.average_rating.plot_ind|floatformat:0 }}%; background-color: #4169E1;"></div>
                    </div>
                </div>
                <div class="rating"><span>Качество озвучивания:</span>
                    <span>{{ book.average_rating.voice }}</span>
                    <div class="scale">
                        <div class="result"
                             style="width:{{ book.average_rating.voice_ind|floatformat:0 }}%; background-color: #BF00FF;"></div>
                    </div>
                </div>
            </div>
            <button class="button_preview"><span>Подробнее </span></button>
        </article>
        <hr>
        {% endfor %}
    </main>
</section>
{% endblock content %}
{% block js %}
<script src="{% static 'audiobooks/js/audiobooks.js' %}"></script>{% endblock js %}