<!-- D:\Python\myProject\bookshelves\app\rating\templates\rating\templatetags\sort_menu.html -->

<div class="sort-menu">
    <ul>
        <li>Писательский талант
          <ul>
              <li><a href="Ссылка на актуальные категории и подкатегории без использования сортировки">не сортировать</a></li>
              <li>
                  <a href="Ссылка на применение фильтра сортировки по категории 'Писательский талант'на убывание + актуальные категории и подкатегории">
                      по убыванию &#9660; </a></li>
              <li>
                  <a href="Ссылка на применение фильтра сортировки по категории 'Писательский талант'на возрастание + актуальные категории и подкатегории">
                      по возрастанию &#9650; </a></li>
          </ul>
        </li>
        <li>Сюжет
          <ul>
              <li><a href="Ссылка на актуальные категории и подкатегории без использования сортировки">не сортировать</a></li>
              <li>
                  <a href="Ссылка на применение фильтра сортировки по категории 'Сюжет'на убывание + актуальные категории и подкатегории">
                      по убыванию &#9660; </a></li>
              <li>
                  <a href="Ссылка на применение фильтра сортировки по категории 'Сюжет'на возрастание + актуальные категории и подкатегории">
                      по возрастанию &#9650; </a></li>
          </ul>
        </li>
        <li>Качество озвучивания
          <ul>
              <li><a href="Ссылка на актуальные категории и подкатегории без использования сортировки">не сортировать</a></li>
              <li>
                  <a href="Ссылка на применение фильтра сортировки по категории 'Сюжет'на убывание + актуальные категории и подкатегории">
                      по убыванию &#9660; </a></li>
              <li>
                  <a href="Ссылка на применение фильтра сортировки по категории 'Сюжет'на возрастание + актуальные категории и подкатегории">
                      по возрастанию &#9650; </a></li>
          </ul>
        </li>
    </ul>
</div>
