/* D:\Python\myProject\bookshelves\app\rating\static\rating\css\sort_menu.css */
/* файл стилей меню сортировки рейтингов */

.sort-menu{
    z-index: 30;
}

.sort-menu ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0 auto; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
  margin-top:5px; /*делаем отступ сверху*/
}

.active_label{
  background-color: var(--color04);/*добавляем эффект при наведении*/
  color: #FFF;
}

.sort-menu a {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  /*background:#819A32; добавляем фон к пункту меню*/
  color:var(--color05); /*меняем цвет ссылок*/
 /* padding:0; добавляем отступ*/
  font-family: arial; /*меняем шрифт*/
  line-height:30px; /*ровняем меню по вертикали*/
  display: block;

  -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}
.sort-menu a:hover {     /*добавляем эффект при наведении*/

  color: #FFF;
}
.sort-menu li {
  float:left; /*Размещаем список горизонтально для реализации меню*/
  position:relative; /*задаем позицию для позиционирования*/
  padding: 0 10px;
}

.sort-menu li:hover {
  background-color: var(--color04);/*добавляем эффект при наведении*/
  color: #FFF;
}

    /*Стили для скрытого выпадающего меню*/
    .sort-menu li > ul {
        position:absolute;
        top:25px;
        display:none;
    }

    /*Делаем скрытую часть видимой*/
    .sort-menu li:hover > ul {
        display:block;
        width: 160px;  /* Задаем ширину выпадающего меню*/
        margin: 0;
        background-color: var(--color04);
        z-index: 30;
    }
    .sort-menu li:hover > ul > li {
        float:none; /*Убираем горизонтальное позиционирование*/
    }