/* D:\Python\myProject\bookshelves\app\main\static\main\css\feedback.css */

.feedback{
    display: grid;
    gap: 10px;
    grid-template-columns: max-content;
    justify-content: center; /* Выравниваем по центру */
    margin: 0 auto;
    padding: 15px;
    min-height: 400px;
    background: var(--color05);
}

.feedback-form{
    display: grid;
    gap: 10px;
    grid-template-columns: max-content minmax(200px, 300px); /* label и input в каждой строке */
    justify-content: start; /* выравнивает сетку по левой стороне грид-контейнера */
    margin-bottom: 3em;
    padding: 30px 25px;
    border-radius: 5px;
    box-shadow: 2px 2px 15px 9px #5e210f;
}

/* Стили для кнопки отправки формы */
.feedback-form button {
    grid-column: span 2; /* Занимает обе колонки */
    justify-items: end;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    width: max-content;
}