/* D:\Python\myProject\bookshelves\app\audiobooks\static\audiobooks\css\audiobooks.css */

/*Цветовая колекция
  :root {
    --color01: #b47d48;
    --color02: #5e210f;
    --color03: #4e4131;
    --color04: #723527;
    --color05: #d9c2a1;
    --color06: #83533d;
    --color07: #7f706a;
    --color08: #6e4c19;
    --color09: #97451a;
    --color10: #2b1508;

    /* --основной цвет 11
    --color11: #5e210f;
    /* --основной цвет 12
    --color12: #47241A;
    /* --основной цвет 13
    --color13: #3D1205;
    /* --контрастный цвет к 11-13
    --contrasting-color11-13: #FAC78A;
    /* --основной цвет 14
    --color13: #AF5941;
    /* --основной цвет 15
    --color13: #AF705E;

    /* --дополнительный цвет 21
    --color21: #520D27;
    /* --дополнительный цвет 22
    --color22: #3D1725;
    /* --дополнительный цвет 23
    --color23: #350416;
    /* --дополнительный цвет 24
    --color24: #A83E66;
    /* --дополнительный цвет 25
    --color25: #A85B77;
  }
*/

.context_books {
    display: grid;
    /* Будет создано 5 колонок */
    grid-template-columns: 30px 300px 1fr 140px 20px;
    /* Будет создано 4 ряда */
    grid-template-rows: 270px  auto auto 1fr;
    /* Отступы между рядами
    row-gap: 50px; */
    /* Отступы между колонками
	column-gap: 5px; */
    box-sizing: border-box;
}

/* подложка */
.substrate {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
    background: -webkit-gradient(linear, left top, left bottom, from(#97461a), to(#5d2211));
}

.left_aside {
    grid-column: 2;
    grid-row: 1 / -1;
    background: var(--color05);
    border-radius: 10px 10px 0 0;
}

/* рекламный блок */
.advertising_container {
    margin: 10px 10px 0 10px;
}


/* Контейнер слайдера */
.slider_container {
    grid-column: 3 / -1;
    grid-row: 1 / 2;
    background: -webkit-gradient(linear, left top, left bottom, from(#97461a), to(#5d2211));
}

/* хлебные крошки */
.bread_crumbs{
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    background: var(--color05);

}

.bread_crumbs h1 {
    display: flex;
    justify-content: center;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1.1px;
}

/* блок сортировки */
.sort_container {
    grid-column: 3 / -1;
    grid-row: 3 / 4;
    background: var(--color05);
}

.main_container {
    grid-column: 3 / 5;
    grid-row: 4 / -1;
}


/* vvv--- превью книг ---vvv */
.preview_book {
    margin: 10px 0;
}

.preview_book {
    display: grid;
    /* Будет создано 3 колонки */
    grid-template-columns: 124px 1fr 140px;
    /* Будет создано 3 рядов */
    grid-template-rows: repeat(3, auto);
    /* Отступы между рядами */
    row-gap: 10px;
    /* Отступы между колонками */
    column-gap: 15px;
    box-sizing: border-box;
    grid-template-areas:
        "h h h"
        "p d i"
        "r r b";
}

.header_preview {
    grid-area: h;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    /* height: 50px; */
    color: #FFF;
    background: var(--color_grad30);
}

.header_preview h2{
    font-size: 20px;
    letter-spacing: 1.1px;
}

.header_preview h3 {
    font-size:16px;
}

.picture_preview {
    grid-area: p;
    float: left;
    max-width: 124px;
    max-height: 220px;
    /*margin: 5px 10px 5px 0;
    padding: 10px;*/
}

.description_preview {
    grid-area: d;
    text-align: justify;
}

.information_preview {
    grid-area: i;
}

.ratings_preview {
    grid-area: r;
}

.button_preview {
    grid-area: b;
}

/* vvv--- Кнопка подробнее превью книги ---vvv */
.button_preview {
    border-radius: 6px;
    color: #FFF;
    background: var(--color_grad30);
    border: none;
    text-align: center;
    font-size: 18px;
    padding: 12px 5px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button_preview span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button_preview span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button_preview:hover span {
    padding-right: 25px;
}

.button_preview:hover span:after {
    opacity: 1;
    right: 0;
}

/* ^^^--- Кнопка подробнее превью книги ---^^^ */
/* ^^^--- превью книг ---^^^ */

/* файл стилей меню сортировки рейтингов */

.sort-menu{
    z-index: 30;
}

.sort-menu ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0 auto; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
  margin-top:5px; /*делаем отступ сверху*/
}

.active_label{
  background-color: var(--color04);/*добавляем эффект при наведении*/
  color: #FFF;
}

.sort-menu a {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  /*background:#819A32; добавляем фон к пункту меню*/
  color:var(--color05); /*меняем цвет ссылок*/
 /* padding:0; добавляем отступ*/
  font-family: arial; /*меняем шрифт*/
  line-height:30px; /*ровняем меню по вертикали*/
  display: block;

  -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}
.sort-menu a:hover {     /*добавляем эффект при наведении*/

  color: #FFF;
}
.sort-menu li {
  float:left; /*Размещаем список горизонтально для реализации меню*/
  position:relative; /*задаем позицию для позиционирования*/
  padding: 0 10px;
}

.sort-menu li:hover {
  background-color: var(--color04);/*добавляем эффект при наведении*/
  color: #FFF;
}

    /*Стили для скрытого выпадающего меню*/
    .sort-menu li > ul {
        position:absolute;
        top:25px;
        display:none;
    }

    /*Делаем скрытую часть видимой*/
    .sort-menu li:hover > ul {
        display:block;
        width: 160px;  /* Задаем ширину выпадающего меню*/
        margin: 0;
        background-color: var(--color04);
        z-index: 30;
    }
    .sort-menu li:hover > ul > li {
        float:none; /*Убираем горизонтальное позиционирование*/
    }








