/* D:\Python\myProject\bookshelves\app\audiobooks\static\audiobooks\css\audiobooks.css */

/*Цветовая колекция
  :root {
    --color01: #b47d48;
    --color02: #5e210f;
    --color03: #4e4131;
    --color04: #723527;
    --color05: #d9c2a1;
    --color06: #83533d;
    --color07: #7f706a;
    --color08: #6e4c19;
    --color09: #97451a;
    --color10: #2b1508;

    /* --основной цвет 11
    --color11: #5e210f;
    /* --основной цвет 12
    --color12: #47241A;
    /* --основной цвет 13
    --color13: #3D1205;
    /* --контрастный цвет к 11-13
    --contrasting-color11-13: #FAC78A;
    /* --основной цвет 14
    --color13: #AF5941;
    /* --основной цвет 15
    --color13: #AF705E;

    /* --дополнительный цвет 21
    --color21: #520D27;
    /* --дополнительный цвет 22
    --color22: #3D1725;
    /* --дополнительный цвет 23
    --color23: #350416;
    /* --дополнительный цвет 24
    --color24: #A83E66;
    /* --дополнительный цвет 25
    --color25: #A85B77;
  }
*/

.context_books {
    display: grid;
    /* Будет создано 5 колонок */
    grid-template-columns: 20px minmax(200px, 300px) 1fr 140px 20px;
    /* Будет создано 6 рядов */
    grid-template-rows: 50px 220px auto auto auto 1fr;
    /* Отступы между рядами
    row-gap: 50px; */
    /* Отступы между колонками
	column-gap: 5px; */
    box-sizing: border-box;
}

/* подложка */
.substrate {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background: -webkit-gradient(linear, left top, left bottom, from(#97461a), to(#5d2211));
    background: -webkit-linear-gradient(top, #97461a, #5d2211);
    background: -moz-linear-gradient(top, #97461a, #5d2211);
    background: -ms-linear-gradient(top, #97461a, #5d2211);
    background: -o-linear-gradient(top, #97461a, #5d2211);
}

/* Контейнер слайдера */
.slider_container {
    grid-column: 3 / -1;
    grid-row: 1 / 3;
    background: -webkit-gradient(linear, left top, left bottom, from(#97461a), to(#5d2211));
    background: -webkit-linear-gradient(top, #97461a, #5d2211);
    background: -moz-linear-gradient(top, #97461a, #5d2211);
    background: -ms-linear-gradient(top, #97461a, #5d2211);
    background: -o-linear-gradient(top, #97461a, #5d2211);
}

.left_aside {
    grid-column: 2;
    grid-row: 2 / -1;
}

/* форма поиска */
.search_container {
    justify-content: space-around;
    padding: 20px;
    height: 250px;
    background: var(--color05);
    border-radius: 10px;
    z-index: 10;
}

/* рекламный блок */
.advertising_container {
    margin: 10px 10px 0 10px;
}

.sort_container {
    grid-column: 3 / -1;
    grid-row: 3 / 4;
    background: var(--color05);
}

.main_container {
    grid-column: 3 / 5;
    grid-row: 4 / -1;
}

















/* -- 3D Slideshow Section обложек книг -- */
#slideshow {
    margin: 0 auto;
    /* padding-top: 10px; */
    overflow-x: hidden;
    overflow-y: hidden;
    height: 270px;
    width: 100%;
    box-sizing: border-box;
}

/*
.slideshow-title {
	font-family: 'Allerta Stencil';
	font-size: 98px;
	color: #fff;
	margin: 0 auto;
	text-align: center;
	margin-top: 25%;
	letter-spacing: 3px;
	font-weight: 300;
}
*/

.book-info {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    /* Черная окантовка */
    /* text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; /* Черная окантовка шириной 2px */
    pointer-events: none;
    /* Чтобы информацию о книге можно было "проходить сквозь" */
}

.content-carrousel figure:hover .book-info {
    display: block;
}

.sub-heading {
    padding-top: 10px;
    font-size: 18px;
}

.sub-heading-two {
    font-size: 15px;
}

.sub-heading-three {
    font-size: 13px;
}

.sub-heading-four {
    font-size: 11px;
}

.sub-heading-five {
    font-size: 9px;
}

.sub-heading-six {
    font-size: 7px;
}

.sub-heading-seven {
    font-size: 5px;
}

.sub-heading-eight {
    font-size: 3px;
}

.sub-heading-nine {
    font-size: 1px;
}

.entire-content {
    margin: auto;
    width: 90px;
    height: 170px;
    perspective: 1000px;
    position: relative;
    padding-top: 30px;
}

.content-carrousel {
    width: 100%;
    position: absolute;
    float: right;
    animation: rotar 60s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.content-carrousel figure {
    width: 120px;
    height: 180px;
    border: 1px solid #3b444b;
    overflow: hidden;
    position: absolute;
}

/* Каждая фигура вращается на 30 градусов больше предыдущей */
.content-carrousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(270px);
}

.content-carrousel figure:nth-child(2) {
    transform: rotateY(30deg) translateZ(270px);
}

.content-carrousel figure:nth-child(3) {
    transform: rotateY(60deg) translateZ(270px);
}

.content-carrousel figure:nth-child(4) {
    transform: rotateY(90deg) translateZ(270px);
}

.content-carrousel figure:nth-child(5) {
    transform: rotateY(120deg) translateZ(270px);
}

.content-carrousel figure:nth-child(6) {
    transform: rotateY(150deg) translateZ(270px);
}

.content-carrousel figure:nth-child(7) {
    transform: rotateY(180deg) translateZ(270px);
}

.content-carrousel figure:nth-child(8) {
    transform: rotateY(210deg) translateZ(270px);
}

.content-carrousel figure:nth-child(9) {
    transform: rotateY(240deg) translateZ(270px);
}

.content-carrousel figure:nth-child(10) {
    transform: rotateY(270deg) translateZ(270px);
}

.content-carrousel figure:nth-child(11) {
    transform: rotateY(300deg) translateZ(270px);
}

.content-carrousel figure:nth-child(12) {
    transform: rotateY(330deg) translateZ(270px);
}

.shadow {
    position: absolute;
    box-shadow: 0px 0px 10px 0px #000;
    border-radius: 10px;
}

.content-carrousel img {
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
}

.content-carrousel img:hover {
    transform: scale(1.1);
    transition: all 300ms;
}

@keyframes rotar {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

/* vvv--- превью книг ---vvv */
.preview_book {
    margin: 10px 0;
}

.preview_book {
    display: grid;
    /* Будет создано 3 колонки */
    grid-template-columns: 124px 1fr 140px;
    /* Будет создано 3 рядов */
    grid-template-rows: repeat(3, auto);
    /* Отступы между рядами */
    row-gap: 10px;
    /* Отступы между колонками */
    column-gap: 15px;
    box-sizing: border-box;
    grid-template-areas:
        "h h h"
        "p d i"
        "r r b";
}

.header_preview {
    grid-area: h;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: 50px;
    color: #FFF;
    background-color: var(--color11);
}

.picture_preview {
    grid-area: p;
    float: left;
    max-width: 124px;
    max-height: 220px;
    /*margin: 5px 10px 5px 0;
    padding: 10px;*/
}

.description_preview {
    grid-area: d;
    text-align: justify;
}

.information_preview {
    grid-area: i;
}

.ratings_preview {
    grid-area: r;
}

.button_preview {
    grid-area: b;
}





/* vvv--- Кнопка подробнее превью книги ---vvv */
.button_preview {
    border-radius: 6px;
    color: #FFF;
    background: -webkit-gradient(linear, left top, left bottom, from(#5d2211), to(#97461a));
    background: -webkit-linear-gradient(top, #5d2211, #97461a);
    background: -moz-linear-gradient(top, #5d2211, #97461a);
    background: -ms-linear-gradient(top, #5d2211, #97461a);
    background: -o-linear-gradient(top, #5d2211, #97461a);
    border: none;
    text-align: center;
    font-size: 18px;
    padding: 12px 5px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button_preview span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button_preview span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button_preview:hover span {
    padding-right: 25px;
}

.button_preview:hover span:after {
    opacity: 1;
    right: 0;
}

/* .button_preview {
    height: 50px;
    border-top: 1px solid #b47c48;
    background: #97461a;
    background: -webkit-gradient(linear, left top, left bottom, from(#5d2211), to(#97461a));
    background: -webkit-linear-gradient(top, #5d2211, #97461a);
    background: -moz-linear-gradient(top, #5d2211, #97461a);
    background: -ms-linear-gradient(top, #5d2211, #97461a);
    background: -o-linear-gradient(top, #5d2211, #97461a);
    padding: 13px 26px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    color: white;
    font-size: 13px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}

.button_preview:hover {
    border-top-color: #520d27;
    background: #520d27;
    color: #ccc;
}

.button_preview:active {
    border-top-color: #5d2211;
    background: #5d2211;
} */


/* ^^^--- Кнопка подробнее превью книги ---^^^ */
/* ^^^--- превью книг ---^^^ */


ul.sort_ul li {
    display: inline;
    /* Отображать как строчный элемент */
    margin-right: 5px;
    /* Отступ слева */
    border: 1px solid #000;
    /* Рамка вокруг текста */
    padding: 3px;
    /* Поля вокруг текста */
}








