/* vvv--- Файл стилей аккордеона ---vvv */
.acor-container {
    margin: 10px 10px 0 10px;
}

.acor-container .acor-body {
    width: calc(100% - 40px);
    margin: 0 auto;
    height: 0;
    color: var(--color05);
    background-color: var(--color14);
    line-height: 18px;
    padding: 0 70px;
    /* путь выезда подкатегорий */
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s;
    /* скорость выезда подкатегорий */
    overflow: hidden;
    /*  font-family: Verdana, sans-serif; */
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 10px 16px rgba(0, 0, 0, 0.2);
}

.acor-container .acor-body p {
    margin: 0 0 10px;
}

.acor-container label {
    cursor: pointer;
    display: block;
    padding: 5px 10px 5px;
    width: 100%;
    color: var(--color05);
    background-color: var(--color14);
    font-weight: 300;
    box-sizing: border-box;
    z-index: 20;
    font-size: 18px;
    margin: 0 0 5px;
    transition: color .35s;
}

.acor-container label:hover {
    color: #FFF;
}

.acor-container input {
    display: none;
}

.acor-container label:before {
    content: '\276F';
    float: right;
}

.acor-container input:checked+label {
    color: var(--color05);
    background-color: var(--color13);
    box-shadow: 0 8px 26px rgba(0, 0, 0, 0.4), 0 28px 30px rgba(0, 0, 0, 0.3);
}

.acor-container input:checked+label:before {
    transition: transform .35s;
    transform: rotate(90deg);
}

.acor-container input:checked+label+.acor-body {
    height: auto;
    margin-top: -5px;
    padding: 20px 30px 10px;
    background-color: var(--color05);
}


/* Удалим подчеркивание в ссылках */
.acor-container a {
    text-decoration: none;
}

/* Установите цвет подписи ссылок для категорий*/
.acor-container label a {
    color: var(--color10);
}

/* Установите цвет подписи ссылок для подкатегорий*/
.acor-container p a {
    color: var(--color10);
}

/* Установите цвет посещенных ссылок */
.acor-container a:visited {
    color: var(--color10);
}

/* Наведения для ссылок */
.acor-container a:hover {
    font-weight: bold;
    /* Сделать жирным */
    text-decoration: underline;
    /* Добавьте подчеркивание при наведении */
}